<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="website/header :: head (~{ :: head/th:block })">
		<th:block>
			<link href="" th:href="@{/js/modal.css}" rel="stylesheet">
			
			<script type="text/javascript" src="" th:src="@{/js/ajax.js}"></script>
			<script type="text/javascript" src="" th:src="@{/js/alert.js}"></script>
			<script type="text/javascript" src="" th:src="@{/js/modal.js}"></script>
		</th:block>
	</head>
	<body>
		<header th:insert="website/header :: nav">
		</header>
		<div class="container-fluid" id="app">
			<table class="table">
				<thead>
					<tr>
						<th scope="col" style="width: 80px;">#</th>
						<th scope="col">Dish</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr
						is="cart-item"
						v-for="(item, index) in carts"
						v-bind:index="index"
						v-bind:cart="item"
						v-bind:key="item.id">
					</tr>
				</tbody>
			</table>
		</div>
		<div class="text-center" id="alert-messages">
		</div>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			Vue.component('cart-item', {
				props: ['index', 'cart'],
				template: `
					<tr>
						<th scope="row">{{ index + 1 }}</th>
						<td>
							<a :href="'/shopping/carts/' + cart.id">{{ cart.name }}</a>
						</td>
						<td>
							<a class="btn btn-sm btn-primary" v-on:click="$root.complete_cart(index, cart.id)"><i class="fas fa-check"></i></a>
							<a class="btn btn-sm btn-danger" v-on:click="$root.cancel_cart(index, cart.id)"><i class="fas fa-trash-alt"></i></a>
						</td>
					</tr>`
			});
			
			var vm = new Vue({
				el: '#app',
				methods: {
					complete_cart: function(index, id) {
						/*var self = this;
						rest_call("PUT", "/shopping/api/1.0/carts", { id: id }, function(status, response) {
							if (status == 200) {
								show_alert_message("success", "Cart completed");
								self.carts.splice(index, 1);
							} else {
								show_alert_message("danger", "Error: Could not complete the cart");
							}
						});*/
					},
					cancel_cart: function(index, id) {
						var self = this;
						rest_call("DELETE", "/shopping/api/1.0/carts", { id: id }, function(status, response) {
							if (status == 200) {
								show_alert_message("success", "Cart canceled");
								self.carts.splice(index, 1);
							} else {
								show_alert_message("danger", "Error: Could not cancel the cart");
							}
						});
					}
				},
				data: function() {
					var test_carts = [
						{ id: 0, name: 'Name of Dish 1' },
						{ id: 1, name: 'Name of Dish 2' },
						{ id: 2, name: 'Name of Dish 3' },
						{ id: 3, name: 'Name of Dish 4' }
					];
					
					return {
						carts: (/*[[${carts}]]*/ test_carts)
					};
				}
			});
		/*]]>*/
		</script>
	</body>
</html>