<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="website/header :: head (~{ :: head/th:block })">
		<th:block>	
			<script type="text/javascript" src="" th:src="@{/js/ajax.js}"></script>
			<script type="text/javascript" src="" th:src="@{/js/alert.js}"></script>
		</th:block>
	</head>
	<body>
		<header th:insert="website/header :: nav">
		</header>
		<div class="container-fluid" id="app">
			<table class="table">
				<thead>
					<tr>
						<th scope="col" style="width: 80px;">#</th>
						<th scope="col">Dish</th>
						<th scope="col"></th>
					</tr>
				</thead>
				<tbody>
					<tr
						is="meal-item"
						v-for="(item, index) in meals"
						:index="index"
						:meal="item"
						:key="item.id">
					</tr>
				</tbody>
			</table>
		</div>
		<div class="text-center" id="alert-messages">
		</div>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			Vue.component('meal-item', {
				props: ['index', 'meal'],
				template: `
					<tr>
						<th scope="row">{{ index + 1 }}</th>
						<td>{{ '#' + meal.id }}</td>
						<td>
							<a class="btn btn-sm btn-primary" @click="$parent.complete_meal(index, meal.id)"><i class="fas fa-check"></i></a>
							<a class="btn btn-sm btn-danger" @click="$parent.cancel_meal(index, meal.id)"><i class="fas fa-trash-alt"></i></a>
						</td>
					</tr>`
			});
			
			var vm = new Vue({
				el: '#app',
				methods: {
					complete_meal: function(index, id) {
						var self = this;
						rest_call("PUT", "/household/api/1.0/meals", { id: id }, function(status, response) {
							if (status == 200) {
								show_alert_message("success", "Meal completed");
								self.meals.splice(index, 1);
							} else {
								show_alert_message("danger", "Error: Could not complete the meal");
							}
						});
					},
					cancel_meal: function(index, id) {
						var self = this;
						rest_call("DELETE", "/household/api/1.0/meals", { id: id }, function(status, response) {
							if (status == 200) {
								show_alert_message("success", "Meal canceled");
								self.meals.splice(index, 1);
							} else {
								show_alert_message("danger", "Error: Could not cancel the meal");
							}
						});
					}
				},
				data: function() {
					return {
						meals: (/*[[${meals}]]*/ [])
					};
				}
			});
		/*]]>*/
		</script>
	</body>
</html>