<!--/* Head fragment */-->
<th:block th:fragment="head(scripts)" xmlns:th="http://www.thymeleaf.org">
	<meta charset="ISO-8859-1">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<title>Deipneus</title>
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
	<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.2.0/css/all.css" integrity="sha384-hWVjflwFxL6sNzntih27bfxkr27PmbbK/iSvJ+a4+0owXq79v+lsFkW54bOGbiDQ" crossorigin="anonymous">
	<link rel="stylesheet" href="../static/css/master.css" th:href="@{/css/master.css}">
	<script type="text/javascript" src="../static/js/vendor/vue.js" th:src="@{/js/vendor/vue.js}"></script>
	
	<th:block th:replace="${scripts}"></th:block>
</th:block>

<!--/* Nav fragment */-->
<th:block th:fragment="nav" xmlns:th="http://www.thymeleaf.org">
	<nav class="navbar navbar-expand-lg navbar-dark bg-dark" id="header-nav">
		<a class="navbar-brand" href="#" th:href="@{/}">Deipneus</a>
		<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
			<span class="navbar-toggler-icon"></span>
		</button>
		<div class="container collapse navbar-collapse" id="navbarNavAltMarkup">
			<div class="navbar-nav">
				<a class="nav-item nav-link active" href="#">
					Home
					<span class="sr-only">(current)</span>
				</a>
				<a class="nav-item nav-link" href="/cookbook/ingredients">
					<i class="fas fa-lemon"></i>
					Ingredients
				</a>
				<a class="nav-item nav-link" href="/cookbook/recipes">
					<i class="fas fa-book"></i>
					Recipes
				</a>
				<a class="nav-item nav-link" href="/shopping/carts">
					<span class="fas fa-shopping-cart"></span>
					Carts
				</a>
				<a class="nav-item nav-link" href="/household/meals">
					<span class="fas fa-utensils"></span>
					Meals
				</a>
			</div>
		</div>
	</nav>
</th:block>