<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="website/header :: head (~{ :: head/th:block })">
		<th:block>	
			<script type="text/javascript" src="" th:src="@{/js/ajax.js}"></script>
			<script type="text/javascript" src="" th:src="@{/js/alert.js}"></script>
			<style>
				.collapse-enter-active, .collapse-leave-active {
					transition: opacity .5s;
				}
				
				.collapse-enter, .collapse-leave-to {
					opacity: 0;
				}
			</style>
		</th:block>
	</head>
	<body>
		<header th:insert="website/header :: nav">
		</header>
		<main class="container" id="app">
			<div class="row">
				<div class="col">
					<div class="float-left">
						<h3>Ingredients:</h3>
					</div>
					<div class="float-right">
						<button class="btn btn-primary" v-on:click="form.show = !form.show">
							<i class="fas fa-book-open"></i>
							New Ingredient
						</button>
					</div>
					<div class="float-none">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<hr />
					<div class="float-right">
						<transition>
							<div v-if="form.show">
								<div class="input-group mb-3">
									<input type="text" id="ingredient-name" placeholder="Ingredient name" v-model="form.name">
									<div class="input-group-append">
										<a class="btn btn-primary" role="button" @click="submit_form">
											Submit
										</a>
									</div>
								</div>
							</div>
						</transition>
					</div>
					<div class="float-none">
					</div>
				</div>
			</div>
			<div class="row">
				<ingredient-item
					v-for="(item, index) in ingredients"
					v-bind:ingredient="item"
					v-bind:key="index">
				</ingredient-item>
			</div>
			<div class="row">
				<div class="col" style="padding-top: 150px;">
					<hr />
				</div>
			</div>
		</main>
		<div class="text-center" id="alert-messages"></div>
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			Vue.component('ingredient-item', {
				props: ['ingredient'],
				template: `
					<div class="col-lg-4 col-md-6 col-sm-12" style="padding-top: 40px;">
						<p>{{ ingredient.name }}</p>
						<hr />
					</div>`
			});
			
			var vm = new Vue({
				el: '#app',
				mounted: function() {
					//this.ingredients = [];
					//this.fetch_and_append_all_ingredients();
				},
				methods: {
					fetch_and_append_all_ingredients: function() {
						var self = this;
						rest_call("GET", "/cookbook/api/1.0/ingredients", {}, function(status, response) {
							if (status == 200) {
								self.recipes = self.recipes.concat(response);
							} else {
								// @TODO: alert error?
							}
						});
					},
					submit_form: function() {
						var self = this;
						rest_call("POST", "/cookbook/api/1.0/ingredients", { name: this.form.name }, function(status, response) {
							if (status == 200) {
								self.ingredients.push(response);
								show_alert_message("success", "Added ingredient");
							} else {
								show_alert_message("danger", "Error: Could not create ingredient");
							}
						});
					}
				},
				data: function() {
					var test_ingredients = [
						{ id: 1, name: 'Fruit' },
						{ id: 2, name: 'Fruit' },
						{ id: 3, name: 'Fruit' },
						{ id: 4, name: 'Fruit' },
						{ id: 5, name: 'Fruit' },
						{ id: 6, name: 'Fruit' }
					];
					
					return {
						form: {
							name: '',
							show: false
						},
						ingredients: (/*[[${ingredients}]]*/ test_ingredients)
					};
				}
			});
		/*]]>*/
		</script>
	</body>
</html>