/*ul.ac-suggestion-list {
	list-style-type: none;
	padding: 0px;
	width: 100%;
}
li.ac-suggestion {
	display: inline-block;
	margin: 0px 10px;
}*/

.autocomplete {
	display: inline-block;
	font-family: arial;
	position: relative;
	font-size: 16px;
}
.autocomplete ul.active {
	visibility: visible;
	transition: all .3s ease;
	transform: scaleY(1);
	color: #333;
}
.autocomplete ul {
	visibility: hidden;
	overflow: hidden;
	color: #fff;
	transform-origin: top;
	padding: 0px;
	list-style: none;
	transform: scaleY(0);
	box-shadow: 0px 2px 6px 0px rgba(0, 0, 0, 0.2);
	position: absolute;
	left: 0px;
	margin-top: 2px;
	top: 100%;
	min-width: 90%;
	transition: all .3s ease;
	z-index: 100;
}
.autocomplete li {
	background: #fff;
	padding: 8px 10px 8px 15px;
	box-sizing: border-box;
	cursor: pointer;
	transition: background .2s ease;
	position: relative;
}
.autocomplete li:hover {
	background: #f6f6f6;
	transition: background .2s ease;
}
.autocomplete li.selected {
	background-color: #3399ff;
}