.container-fluid {
	padding: 0px 200px;
}

#header-nav {
	margin-bottom: 80px;
}

.alert-message {
	opacity: 1;
	position: fixed;
	top: 0;
	left: 0;
	width: 100%;
}
.alert-message > .alert {
	margin: 0 auto;
}

.fade-enter-active, .fade-leave-active {
	transition: opacity .5s;
}
.fade-enter, .fade-leave-to {
	opacity: 0;
}