<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="website/header :: head (~{ :: head/th:block })">
		<th:block>	
			<script type="text/javascript" src="" th:src="@{/js/ajax.js}"></script>
			<script type="text/javascript" src="" th:src="@{/js/alert.js}"></script>
		</th:block>
	</head>
	<body>
		<header th:insert="website/header :: nav">
		</header>
		<main class="container-fluid" id="app">
			<div class="row">
				<div class="col">
					<h3>{{ recipe.name }}</h3>
					<hr />
				</div>
			</div>
			<div class="row">
				<p class="pl-3">Serves: {{ recipe.serves }}</p>
				<p class="font-weight-light pl-3">Prep Time: <i>{{ recipe.prep_time | time_to_text }}</i></p>
				<p class="font-weight-light pl-3">Cooking Time: <i>{{ recipe.cooking_time | time_to_text }}</i></p>
			</div>
			<div class="row" style="padding-top: 40px;">
				<div class="col-lg-6 col-md-12" id="ingredients-listing">
					<h4>Ingredients:</h4>
					<variant-item
						v-for="item in recipe.variants"
						v-bind:variant="item"
						v-bind:key="item.id">
					</variant-item>
				</div>
				<div class="col-lg-6 col-md-12" style="padding-top: 40px;">
					<p class="font-weight-bold">{{ recipe.description }}</p>
					<h4 class="font-weight-bold">Instructions:</h4>
					<ol id="instructions-listing">
						<instruction-item
							v-for="item in recipe.instructions"
							v-bind:instruction="item"
							v-bind:key="item.id">
						</instruction-item>
					</ol>
				</div>
			</div>
			<div class="row">
				<div class="col" style="padding-top: 150px;">
					<hr />
					<div class="float-right">
						<button class="btn btn-primary" v-on:click="create_cart_from_recipe">
							<i class="fas fa-cart-plus"></i>
							Add Recipe
						</button>
						<a class="btn btn-primary" href="#" th:href="${editor_link}">
							<i class="fas fa-pen"></i>
							Edit
						</a>
						<button class="btn btn-danger" v-on:click="delete_recipe">
							<i class="fas fa-trash-alt"></i>
							Delete
						</button>
					</div>
					<div class="float-none">
					</div>
				</div>
			</div>
		</main>
		<div class="text-center" id="alert-messages"></div>
		<script th:inline="javascript">
		/*<![CDATA[*/
			Vue.component('variant-item', {
				props: ['variant'],
				template: `
						<div>
							<span class="w-50 mr-3 text-right">{{ variant.quantity }} {{ variant.unit.shortName }}</span>
							<span class="w-50 ml-3 text-left">{{ variant.ingredient.name }}</span>
						</div>`
			});
			
			Vue.component('instruction-item', {
				props: ['instruction'],
				template: '<li>{{ instruction.text }}</li>'
			});
			
			Vue.filter('time_to_text', function(value) {
				if (typeof value !== 'string') {
					return 'unknown';
				}
				if (value.length != 5) {
					return value;
				}
				
				// example value: '09:00'
				var hrs = parseInt(value.substr(0, 2));
				var min = parseInt(value.substr(-2));
				var result = '';
				
				if (hrs > 0) {
					result = hrs + ' hrs';
				}
				if (min > 0) {
					if (result.length > 0) {
						result += ' ';
					}
					
					result += min + ' min';
				}
				
				return result;
			});
			
			var vm = new Vue({
				el: '#app',
				mounted: function() {
					//this.recipe = this.fetch_recipe_details(0);
				},
				methods: {
					create_cart_from_recipe: function() {
						rest_call("POST", "/shopping/api/1.0/carts", { recipe_id: this.recipe.id }, function(status, response) {
							if (status == 200) {
								show_alert_message("success", "Added recipe");
							} else {
								show_alert_message("danger", "Error: Could not add recipe");
							}
						});
					},
					delete_recipe: function() {
						rest_call("DELETE", "/cookbook/api/1.0/recipes/" + this.recipe.id, { }, function(status, response) {
							if (status == 200) {
								window.location.href = "/cookbook/recipes";
							} else {
								show_alert_message("danger", "Error: Could not delete recipe");
							}
						});
					}
				},
				data: function() {
					var test_description = `
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Proin mi metus, consectetur ut elit in, aliquam vehicula libero. 
						Quisque posuere est at mi dapibus bibendum. Nam molestie quam maximus sem interdum consequat. Praesent enim nisi, ultricies sed tincidunt ut, sagittis vitae erat. 
						Nullam at est et lectus laoreet accumsan ut sit amet libero. Integer eu neque quis nunc dapibus pulvinar vel eu ante. 
						Praesent commodo velit ac euismod aliquam. Suspendisse in viverra justo, vel blandit ipsum. Nam porttitor sem quis rutrum malesuada. 
						Aenean posuere sem at hendrerit laoreet. Suspendisse consectetur et ex non tincidunt. In lorem neque, convallis vitae lorem ac, pellentesque tempus ligula.`;
					
					var test_instructions = [
						{ id: 0, text: 'Step one' },
						{ id: 1, text: 'Step two' },
						{ id: 2, text: 'Step three' },
						{ id: 3, text: 'Step four' },
						{ id: 4, text: 'Step five' },
						{ id: 5, text: 'Step six' },
						{ id: 6, text: 'Step seven' }
					];
					
					var test_variants = [
						{ id: 0, qty: '2,5', unit: 'kg', foods: 'potatoes' },
						{ id: 1, qty: '500', unit: 'g', foods: 'cabbage' }
					];
					
					return {
						recipe: {
							id: (/*[[${recipe.id}]]*/ 0),
							name: (/*[[${recipe.name}]]*/ 'Name of Dish'),
							serves: (/*[[${recipe.serves}]]*/ 4),
							prep_time: (/*[[${{recipe.prepTime}}]]*/ '00:15'),
							cooking_time: (/*[[${{recipe.cookingTime}}]]*/ '02:30'),
							description: (/*[[${{recipe.description}}]]*/ test_description),
							variants: (/*[[${recipe.variants}]]*/ test_variants),
							instructions: (/*[[${recipe.instructions}]]*/ test_instructions)
						}
					};
				}
			});
		/*]]>*/
		</script>
	</body>
</html>