<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="website/header :: head (~{ :: head/th:block })">
		<th:block>	
			<script type="text/javascript" src="" th:src="@{/js/ajax.js}"></script>
		</th:block>
	</head>
	<body>
		<header th:insert="website/header :: nav">
		</header>
		<main class="container" id="app">
			<div class="row">
				<div class="col">
					<div class="float-left">
						<h3>Recipes:</h3>
					</div>
					<div class="float-right">
						<a class="btn btn-primary" href="#" th:href="${new_editor_link}">
							<i class="fas fa-book-open"></i>
							New Recipe
						</a>
					</div>
					<div class="float-none">
					</div>
				</div>
			</div>
			<div class="row">
				<div class="col">
					<hr />
					<br />
				</div>
			</div>
			<div class="row">
				<recipe-item
					v-for="item in recipes"
					v-bind:recipe="item"
					v-bind:key="item.id">
				</recipe-item>
			</div>
			<div class="row">
				<div class="col" style="padding-top: 150px;">
					<hr />
				</div>
			</div>
		</main>
		
		<script type="text/javascript">
			Vue.component('recipe-item', {
				props: ['recipe'],
				template: `
					<div class="col-lg-4 col-md-6 col-sm-12" style="padding-top: 40px;">
						<a v-bind:href="get_recipe_link">{{ recipe.name }}</a>
						<hr />
					</div>`,
				computed: {
					get_recipe_link: function() {
						return "/cookbook/recipes/" + this.recipe.id;
					}
				}
			})
			
			var vm = new Vue({
				el: '#app',
				mounted: function() {
					this.recipes = [];
					this.fetch_and_append_all_recipes();
				},
				methods: {
					fetch_and_append_all_recipes: function() {
						var self = this;
						rest_call("GET", "/cookbook/api/1.0/recipes", {}, function(status, response) {
							if (status == 200) {
								self.recipes = self.recipes.concat(response);
							} else {
								// @TODO: alert error?
							}
						});
					}
				},
				data: {
					recipes: [
						{ id: 1, name: 'Name of Dish' },
						{ id: 2, name: 'Name of Dish' },
						{ id: 3, name: 'Name of Dish' },
						{ id: 4, name: 'Name of Dish' },
						{ id: 5, name: 'Name of Dish' },
						{ id: 6, name: 'Name of Dish' },
						{ id: 7, name: 'Name of Dish' },
						{ id: 8, name: 'Name of Dish' },
						{ id: 9, name: 'Name of Dish' }
					]
				}
			})
		</script>
	</body>
</html>