<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
	<head th:insert="website/header :: head (~{ :: head/th:block })">
		<th:block>
			<link rel="stylesheet" th:href="@{/css/auto-complete.css}">
			<script type="text/javascript" src="" th:src="@{/js/ajax.js}"></script>
			<script type="text/javascript" src="" th:src="@{/js/auto-complete.js}"></script>
		</th:block>
	</head>
	<body>
		<header th:insert="website/header :: nav">
		</header>
		<main class="container" id="app">
			<div class="row">
				<div class="col">
					<h3>Recipe Editor:</h3>
					<hr>
					
					<form @submit="validate_form"
							action="/cookbook/recipes"
							method="POST"
							th:object="${recipe}">
						<div v-if="errors.length"
								class="form-row"
								style="margin-bottom: 60px;">
							<strong>Please correct the following error(s):</strong>
							<ul>
								<li v-for="error in errors">
									{{ error }}
								</li>
							</ul>
						</div>
						<div class="form-row">
							<div class="col-md-6 mb-2">
								<label for="name">Name</label>
								<input type="text" class="form-control" id="name" name="name" placeholder="name" v-model="recipe.name" required>
							</div>
							<div class="col-md-2 mb-2">
								<label for="serves">Serves</label>
								<input type="number" class="form-control" id="serves" name="serves" v-model="recipe.serves" required>
							</div>
							<div class="col-md-2 mb-2">
								<label for="prepTime">Prep time</label>
								<input type="time" class="form-control" id="prepTime" name="prepTime" v-model="recipe.prep_time" required>
							</div>
							<div class="col-md-2 mb-2">
								<label for="cookingTime">Cooking time</label>
								<input type="time" class="form-control" id="cookingTime" name="cookingTime" v-model="recipe.cooking_time" required>
							</div>
						</div>
						<div class="form-row">
							<div class="col-md-12 mb-2">
								<label for="description">Description</label>
								<textarea class="form-control" id="description" name="description" rows="3" v-model="recipe.description"></textarea>
							</div>
						</div>
						<div class="form-row" style="margin-top: 50px;">
							<h4>Ingredients:</h4>
							<table class="table">
								<thead>
									<tr>
										<th scope="col" style="width: 20px;">#</th>
										<th scope="col">Foods</th>
										<th scope="col" style="width: 160px;">Quantity</th>
										<th scope="col" style="width: 160px;">Unit</th>
										<th scope="col" style="width: 150px;"></th>
									</tr>
								</thead>
								<tbody>
									<tr
										is="variant-item"
										v-for="(item, index) in recipe.variants"
										:variant="item"
										:key="index"
										:index="index">
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th></th>
										<th>
											<button class="btn btn-primary"
													v-if="recipe.variants.length == 0"
													@click="add_variant(0)">Add Ingredient</button>
										</th>
									</tr>
								</tfoot>
							</table>
						</div>
						<div class="form-row" style="margin-top: 50px;">
							<h4>Instructions:</h4>
							<table class="table">
								<thead>
									<tr>
										<th scope="col" style="width: 20px;">#</th>
										<th scope="col">Step</th>
										<th scope="col" style="width: 80px;"></th>
										<th scope="col" style="width: 150px;"></th>
									</tr>
								</thead>
								<tbody>
									<tr is="instruction-item"
											v-for="(item, index) in recipe.instructions"
											:instruction="item"
											:key="item.id"
											:index="index">
									</tr>
								</tbody>
								<tfoot>
									<tr>
										<th></th>
										<th></th>
										<th></th>
										<th>
											<button class="btn btn-primary"
													v-if="recipe.instructions.length == 0"
													@click="add_instruction(0)">Add Instruction</button>
										</th>
									</tr>
								</tfoot>
							</table>
						</div>
						<div class="form-row" style="margin-top: 100px;">
							<div class="col">
								<button type="submit" class="btn btn-primary">Submit</button>
								<hr>
							</div>
						</div>
						
						<input type="hidden" id="id" name="id" th:value="*{id}">
						<input type="hidden"
								v-for="(item, index) in recipe.variants"
								v-if="item.id !== -1"
								:id="'variants_' + index"
								:name="'variants[' + index + '].id'"
								:value="item.id">
						<input type="hidden"
								v-for="(item, index) in recipe.variants"
								v-if="item.ingredient.id !== -1"
								:id="'variants_' + index + '_ingredient_id'"
								:name="'variants[' + index + '].ingredientId'"
								:value="item.ingredient.id">
						<input type="hidden"
								v-for="(item, index) in recipe.variants"
								v-if="item.ingredient.id === -1"
								:id="'variants_' + index + '_ingredient_name'"
								:name="'variants[' + index + '].ingredientName'"
								:value="item.ingredient.name">
						<input type="hidden"
								v-for="(item, index) in recipe.variants"
								:id="'variants_' + index + '_quantity'"
								:name="'variants[' + index + '].quantity'"
								:value="item.quantity">
						<input type="hidden"
								v-for="(item, index) in recipe.variants"
								:id="'variants_' + index + '_unit'"
								:name="'variants[' + index + '].unitId'"
								:value="item.unit.id">
						<input v-for="(item, index) in recipe.instructions"
								type="hidden"
								:id="'instructions_' + index"
								:name="'instructions[' + index + '].text'"
								:value="item.text">
					</form>
				</div>
			</div>
		</main>
		<footer class="row">
			<div class="col" style="padding-bottom: 80px;">
			</div>
		</footer>
		
		<script type="text/javascript" th:inline="javascript">
		/*<![CDATA[*/
			Vue.component('variant-item', {
				props: ['variant', 'index'],
				template: `
					<tr>
						<th scope="row">{{ index + 1 }}</th>
						<td>
							<auto-complete
									style="width: 100%; height: 100%;"
									:value="get_ingredient_name()"
									:data="$parent.ingredients"
									field="name"
									@changed="on_variant_change"
									@completed="on_variant_autocomplete">
							</auto-complete>
						</td>
						<td>
							<input class="form-control" v-model="variant.quantity" />
						</td>
						<td>
							<select class="form-control"
									v-model="variant.unit.id"
									required>
								<option value="">Chose...</option>
								<option v-for="(item, index) in $parent.units"
										:value="item.id">
									{{ item.fullName }}
								</option>
							</select>
						</td>
						<td>
							<a class="btn btn-primary btn-sm" v-on:click="$root.add_variant(index)">add</a>
							<a class="btn btn-danger btn-sm" v-on:click="$root.remove_variant(index)">remove</a>
						</td>
					</tr>`,
				methods: {
					get_ingredient_name: function() {
						if (this.variant.ingredient.id > 0) {
							var details = this.$parent.get_ingredient_details(this.variant.ingredient.id);
							return details.name;
						}
						
						return this.variant.ingredient.name || "";
					},
					on_variant_change: function(text) {
						this.variant.ingredient.id = -1;
						this.variant.ingredient.name = text;
					},
					on_variant_autocomplete: function(ingredient) {
						/*if (ingredient.id == this.saved_variant.ingredient_id) {
							this.variant.id = this.saved_variant.id;
							this.variant.ingredient.id = -1;
						} else {
							this.variant.id = -1;
							this.variant.ingredient.id = ingredient.id;
						}*/
						
						this.variant.ingredient.id = ingredient.id;
						this.variant.ingredient.name = "";
					}
				},
				data: function() {
					return {
						saved_variant: {
							id: this.variant.id,
							ingredient_id: this.variant.ingredient.id,
						},
					};
				}
			});
			
			Vue.component('instruction-item', {
				props: ['instruction', 'index'],
				template: `
					<tr>
						<th scope="row">{{ index + 1 }}</th>
						<td>
							<input class="form-control" v-model="instruction.text" />
						</td>
						<td></td>
						<td>
							<a class="btn btn-primary btn-sm" v-on:click="$root.add_instruction(index)">add</a>
							<a class="btn btn-danger btn-sm" v-on:click="$root.remove_instruction(index)">remove</a>
						</td>
					</tr>`
			});
			
			var vm = new Vue({
				el: '#app',
				methods: {
					add_variant: function(index) {
						this.recipe.variants.splice(index + 1, 0, {});
					},
					remove_variant: function(index) {
						this.recipe.variants.splice(index, 1);
					},
					add_instruction: function(index) {
						this.recipe.instructions.splice(index + 1, 0, {});
					},
					remove_instruction: function(index) {
						this.recipe.instructions.splice(index, 1);
					},
					validate_form: function(ev) {
						if (!this.errors.length) {
							return true;
						}
						
						ev.preventDefault();
					},
					submit_form: function() {
						rest_call("PUT", "/api/1.0/recipes/" + this.recipe.id, {}, function(status, response) {
							//
						});
					},
					get_ingredient_details: function(id) {
						// @TODO: check cache and/or call rest api
						for (var i = 0; i < this.ingredients.length; ++i) {
							var ingredient = this.ingredients[i];
							if (ingredient.id === id) {
								return ingredient;
							}
						}
						
						return { id: id, name: "" };
					}
				},
				data: function() {
					return {
						errors: (/*[[${errors}]]*/ []),
						ingredients: (/*[[${ingredients}]]*/ []),
						units: (/*[[${units}]]*/ []),
						recipe: {
							id: (/*[[${recipe.id}]]*/ 0),
							name: (/*[[${recipe.name}]]*/ ''),
							description: (/*[[${recipe.description}]]*/ ''),
							serves: (/*[[${recipe.serves}]]*/ 4),
							prep_time: (/*[[${{recipe.prepTime}}]]*/ '00:00'),
							cooking_time: (/*[[${{recipe.cookingTime}}]]*/ '00:00'),
							variants: (/*[[${recipe.variants}]]*/ []),
							instructions: (/*[[${recipe.instructions}]]*/ [])
						}
					};
				}
			});
		/*]]>*/
		</script>
	</body>
</html>